<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Catálogo de Jogos</title>
</head>

<body>

    <nav>
        <ul>
            <li><img src="https://www.pngplay.com/wp-content/uploads/6/Game-Over-Yellow-Transparent-PNG.png" alt="Logo"></li>
            <li>
                <a href="/">
                    <h1>Catálogo de Jogos</h1>
                </a>
            </li>
            <li><a href="/cadastro#cadastro">Cadastro</a> </li>
            <li><a href="/#cards">Jogos</a></li>
        </ul>
    </nav>

    <header>
        <img src="/img/banner.png" alt="banner">
    </header>


    <main>

        <section id="cadastro">

            <img src="/img/pokedex.png" alt="Pokedex">

            <div>
                <h2>Atualização do Jogo</h2>

                        <form action="/update/<%= jogo.id %>" method="POST">

                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" value="<%= jogo.nome %>">

                            <label for="descricao">Descrição:</label>
                            <input type="text" id="descricao" name="descricao" value="<%= jogo.descricao %>">

                            <label for="plataforma">Genero:</label>
                            <input type="text" id="genero" name="genero" value="<%= jogo.genero %>">

                            <label for="plataforma">Plataforma:</label>
                            <input type="text" id="plataforma" name="plataforma" value="<%= jogo.plataforma %>">

                            <label for="imagem">Link da Imagem</label>
                            <input type="text" id="imagem" name="imagem" value="<%= jogo.imagem %>">

                            <button id="btnAtualizar" type="submit">Atualizar</button>

                        </form>
            </div>

        </section>

    </main>

    <footer>
        <p>
          Para cada estilo de gamer, há um jogo esperando para te fazer feliz
        </p>
        <p>
          Todos os direitos resevados para
          <a target="_blank" href="https://thicode.netlify.app/">Gustavo Martins</a>
          &copy;
        </p>
      </footer><footer>
        <p>Todos os direitos resevados para <a target="_blank" href="https://thicode.netlify.app/">Thi Code</a>  &copy;</p>
        <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokédex</a></p>
    </footer>

</body>

</html>