<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('./components/head') %> 
  </head>

  <body>
    
    <%- include('./components/nav') %> 

    <header>
      <img src="https://www.itl.cat/pngfile/big/129-1296783_http-gears-of-war-3-cover.jpg" alt="banner">
    </header>

    <main>
      <section id="cards">
        <h2>Mais detalhes de <%= jogo.nome %></h2>

        <div class="detalhes">
          <div class="jogo">
            <h3><%= jogo.nome %></h3>
            <img src="<%= jogo.imagem %>" alt="imagem do jogo"/>
          </div>
          <div class="descricao">
            <p>Descrição: <%= jogo.descricao %></p>
            <p>Genero: <%= jogo.genero %></p>
            <p>Plataforma: <%= jogo.plataforma %></p>
            <p>Data de Lançamento: <%= jogo.lancamento %></p>
            <p>Nota no Metacritic: <%= jogo.nota %></p>
            <p>Publisher: <%= jogo.estudio %></p>
            <p>Estudio desenvolvedor: <%= jogo.desenvolvedor %></p>
          </div>
        </div>
      </section>
    </main>

    <%- include('./components/footer') %> 

  </body>
</html>
