<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('./components/head') %> 
  </head>

  <body>

    <%- include('./components/nav') %> 

    <header>
      <img src="https://i.pinimg.com/originals/aa/d7/68/aad7688c0e3b1ac517466a3b435848c3.jpg" alt="banner">
    </header>

    <main>
      <section id="cards">
        <h2>Lista de Jogos</h2>

        <% jogos.forEach((jogo)=> { %>
        <div class="card">
          <a href="/detalhes/<%= jogo.id %>/#cards">
            <h3><%= jogo.nome %></h3>
            <img src="<%= jogo.imagem %>" alt="" />
            <h4 class="texto">Saiba mais</h4>
          </a>
        </div>
        <% }) %>
      </section>
    </main>

    <%- include('./components/footer') %> 

  </body>
</html>
